<main class="landing-page">
  <p id="notice" class="p-0 m-0"><%= notice %></p>
  <div class="top" style="background-image: linear-gradient(rgba(232, 199, 192,.2), rgba(232, 199, 192,.2)), url(<%= top_image(@top) %>);">
    <div class="">
      <%= top_title_link(@top) %>
    </div>
    <p class="top-text m-2 p-2"><%= top_content(@top) %></p>
  </div>

  <div class="landing-grid my-2">
    <% @categories.each do |category| %>
      <div class='category-articles'
            style="background-image: linear-gradient(rgba(232, 199, 192,.1), rgba(232, 199, 192,.1)), url(<%= latest_article_cover(category) %>);">
        <div class="d-flex flex-column">
          <%= link_to category.name, category_path(category), class:'category-style simple-link text-uppercase' %>
          <span><%= article_by_category(category) %></span>
        </div>
      </div>
    <% end %>
  </div>
  </main>
