<main class="landing-page">
  <p id="notice" class="p-0 m-0"><%= notice %></p>
  <div class="" id="landscape">
    <div class="top d-flex flex-column justify-content-end" style="background-image: linear-gradient(rgba(232, 199, 192,.2), rgba(232, 199, 192,.2)), url(<%= top_image(@top) %>);">
      <div class="">
        <%= top_title_link(@top) %>
      </div>
      <p class="top-text d-flex align-items-baseline"><%= top_content(@top) %></p>
    </div>
    <div class="landing-grid">
      <%= display_articles_by_category(@categories) %>
    </div>
  </div>
</main>
